@using MVC_TABLADEVALORES_CLINICA.Models.Entities
@model Especialidad

<h2 style="text-align:center">
    @ViewBag.titulo
</h2>

@{
    ViewData["Title"] = "Especialidades";
}

<a asp-action="Index">Retorna a la Tabla de Contenido</a>
<div class="rectangle-container">
    <h4>Especialidad</h4>
    <hr />
    <div class="container">
        <form method="post" asp-action="EditarEspecialidad" asp-controller="Especialidades" asp>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                        <div class="col-6">
                            <label asp-for="Nombre">NOMBRE</label>
                            <input asp-for="Nombre" type="text" class="form-control" style="margin-top:5px;" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                    </div>
                <button type="submit" class="btn btn-success" style="margin-top:10px;">ENVIAR</button>
        </form>
    </div>
    <hr />
    <div>
        <a asp-action="Index">Retorna a la Tabla de Contenido</a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


