# C++
*.o
*.obj
*.out

# User-specific files
*.user
*.suo
*.useroptions
*.pdb

# Build and log files
*.log
*.bin
*.obj
*.pch
*.ipch

# Project build output
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/

# Visual Studio files
.vs/
.git/
.gitignore
*.sln.DotSettings
*.vspscc
*.vssscc
v17/

# Other files
*.exe
*.dll
*.suo
*.cache
*.temp
*.tmp
*.db
*.wal
*.shm
*.pid
