<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_TABLADEVALORES_CLINICA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_TABLADEVALORES_CLINICA.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVC_TABLADEVALORES_CLINICA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="wordpressDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ejemplos 
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="wordpressDropdown">
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Home" asp-action="Politicas">Politicas</a></li>
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Home" asp-action="Novedades">Novedades</a></li>
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Home" asp-action="OtraPagina">Otra Pag</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="clinicaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Clínica
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="clinicaDropdown">
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Medicoes" asp-action="Index">Medicos</a></li>
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Especialidades" asp-action="Index">Especialidades</a></li>
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Medicoes" asp-action="SeleccionarEspecialidad">Medicos por Especialidades</a></li>
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Representantees" asp-action="Index">Representantes</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active text-dark" asp-area="" asp-controller="Home" asp-action="Index" aria-current="page">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">
                                Privacy
                            </a>
                        </li>

                        <li class="nav-item">
                            <div class="d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span data-bs-toggle="collapse" data-bs-target="#ejemplosCollapse" aria-expanded="false" aria-controls="ejemplosCollapse" style="cursor: pointer;">
                                    Ejemplos
                                </span>
                                <span data-bs-toggle="collapse" data-bs-target="#ejemplosCollapse" aria-expanded="false" aria-controls="ejemplosCollapse" style="cursor: pointer;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                    </svg>
                                </span>
                            </div>
                            <div class="collapse" id="ejemplosCollapse">
                                <ul class="nav flex-column mb-2">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark ms-3" asp-area="" asp-controller="Home" asp-action="Politicas">
                                            Politicas
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark ms-3" asp-area="" asp-controller="Home" asp-action="Novedades">
                                            Novedades
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark ms-3" asp-area="" asp-controller="Home" asp-action="OtraPagina">
                                            Otra Pag
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span data-bs-toggle="collapse" data-bs-target="#clinicaCollapse" aria-expanded="false" aria-controls="clinicaCollapse" style="cursor: pointer;">
                                    Clínica
                                </span>
                                <span data-bs-toggle="collapse" data-bs-target="#clinicaCollapse" aria-expanded="false" aria-controls="clinicaCollapse" style="cursor: pointer;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                    </svg>
                                </span>
                            </div>
                            <div class="collapse" id="clinicaCollapse">
                                <ul class="nav flex-column mb-2">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark ms-3" asp-area="" asp-controller="Medicoes" asp-action="Index">
                                            Medicos
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark ms-3" asp-area="" asp-controller="Especialidades" asp-action="Index">
                                            Especialidades
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark ms-3" asp-area="" asp-controller="Medicoes" asp-action="SeleccionarEspecialidad">
                                            Medicos por Especialidades
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark ms-3" asp-area="" asp-controller="Representantees" asp-action="Index">
                                            Representantes
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MVC_TABLADEVALORES_CLINICA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


